<!DOCTYPE html>
<html lang="en">


<%- include ("./partials/head") %>

<body class="Site">
    <div class="Site-content">
        <div class="wrapper">
            <h1 class="error-data"><%= message %></h1>
          <a class="errors-home" href="/">Go Home</a>
            <a class="errors-results" href="/results">To Results</a>
        </div>
    </div>
<%- include ("./partials/footer") %>
</body>

</html>